<img src="../images/marman-1.jpg" width="500">
<center>Marman Coklat Keju Enak Beutt.. ðŸ¤¤</center>

# TF-IDF (Term Frequency-Inverse Document Frequency)

- Salah satu metode statistik yang digunakan untuk mengukur seberapa penting suatu token terhadap suatu dokumen tertentu dari sekumpulan dokumen atau corpus.

## Term Frequency

- Hasil pembagian suatu istilah atau token tertentu dengan jumlah token pada dokumen.

    $tf(t,\ d)\ =\ \frac{f_{t,\ d}}{\sum_{t'\ \in\ d}{f_{t',\ d}}}$, dimana

- $f_{t,\ d}\ =\$ jumlah token tertentu dalam suatu dokumen

- $\sum_{t'\ \in\ d}{f_{t',\ d}}\ =\$ jumlah keseluruhan token pada dokumen yang mengandung token tertentu.

## Inverse Document Frequency

- Without smooting: $idf(t) = log \frac{1\ +\ n}{1\ +\ df(t)}$
- With smoothing: $idf(t) = log \frac{1\ +\ n}{1\ +\ df(t)} + 1$
- Dimana:
    - $n\ =\$ jumlah total dokumen pada korpus.
    
    - $df(t)\ =\$ jumlah dokumen dalam kumpulan dokumen yang mengandung istilah t.

## TF-IDF


- Hasil perkalian antara nilia term frequency dengan inverse document frequency.

- $tf\text{-}idf(t,\ d)\ =\ tf(t, d)\ \times \ idf(t)$, dimana:
    - $tf(t, d)\ =\$ term frequency.
    
    - $idf(t)\ =\$ inverse document frequency.

# Dataset

In [1]:
corpus = [
    "Saya suka makan bakso.",
    "Saya suka makan gado-gado.",
    "Saya suka makan pisang ijo.",
    "Saya sukanya sama kamu.",
    "Tapi, kamu gak suka sama aku."
]

corpus

['Saya suka makan bakso.',
 'Saya suka makan gado-gado.',
 'Saya suka makan pisang ijo.',
 'Saya sukanya sama kamu.',
 'Tapi, kamu gak suka sama aku.']

# TF-IDF Calculation

In [2]:
corpus

['Saya suka makan bakso.',
 'Saya suka makan gado-gado.',
 'Saya suka makan pisang ijo.',
 'Saya sukanya sama kamu.',
 'Tapi, kamu gak suka sama aku.']

## Index and Document

In [8]:
import pandas as pd

document = pd.DataFrame(
    data=[[idx, doc] for idx, doc in enumerate(corpus)],
    columns=["idx_doc", "doc"]
)

document

   idx_doc                            doc
0        0         Saya suka makan bakso.
1        1     Saya suka makan gado-gado.
2        2    Saya suka makan pisang ijo.
3        3        Saya sukanya sama kamu.
4        4  Tapi, kamu gak suka sama aku.

## Index and Token

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
response = vectorizer.fit_transform(corpus)

tokens = pd.DataFrame(
    data=[[idx, token] for idx, token in enumerate(vectorizer.get_feature_names())],
    columns=["idx_token", "token"]
)

tokens

    idx_token    token
0           0      aku
1           1    bakso
2           2     gado
3           3      gak
4           4      ijo
5           5     kamu
6           6    makan
7           7   pisang
8           8     sama
9           9     saya
10         10     suka
11         11  sukanya
12         12     tapi

## TF-IDF Table

In [5]:
tf_idf = str(response).split("\n")
tf_idf = [data.strip() for data in tf_idf]
tf_idf = [data.replace("(", "") for data in tf_idf]
tf_idf = [data.replace(")", "") for data in tf_idf]
tf_idf = [data.replace(" ", "") for data in tf_idf]
tf_idf = [data.replace("\t", ",") for data in tf_idf]
tf_idf = [data.split(",") for data in tf_idf]

pd.DataFrame(
    data=tf_idf,
    columns=["idx_doc", "idx_token", "tf_idf"]
)

   idx_doc idx_token               tf_idf
0        0         1   0.6928236190934441
1        0         6   0.4639920522561333
2        0        10  0.39032474189410776
3        0         9  0.39032474189410776
4        1         2   0.8870672547201419
5        1         6  0.29703963942899264
6        1        10   0.2498791089818884
7        1         9   0.2498791089818884
8        2         4   0.5694966280887995
9        2         7   0.5694966280887995
10       2         6  0.38139852905942934
11       2        10  0.32084446638696984
12       2         9  0.32084446638696984
13       3         5    0.498511878090309
14       3         8    0.498511878090309
15       3        11   0.6178926235233461
16       3         9    0.348109926030819
17       4         0  0.46528077621032954
18       4         3  0.46528077621032954
19       4        12  0.46528077621032954
20       4         5   0.3753856006004972
21       4         8   0.3753856006004972
22       4        10  0.26213107330293306

In [6]:
tf_idf_df = pd.DataFrame(
    data=response.todense().T,
    index=vectorizer.get_feature_names(),
    columns=[f"D{i+1}" for i in range(len(corpus))]
)

tf_idf_df

               D1        D2        D3        D4        D5
aku      0.000000  0.000000  0.000000  0.000000  0.465281
bakso    0.692824  0.000000  0.000000  0.000000  0.000000
gado     0.000000  0.887067  0.000000  0.000000  0.000000
gak      0.000000  0.000000  0.000000  0.000000  0.465281
ijo      0.000000  0.000000  0.569497  0.000000  0.000000
kamu     0.000000  0.000000  0.000000  0.498512  0.375386
makan    0.463992  0.297040  0.381399  0.000000  0.000000
pisang   0.000000  0.000000  0.569497  0.000000  0.000000
sama     0.000000  0.000000  0.000000  0.498512  0.375386
saya     0.390325  0.249879  0.320844  0.348110  0.000000
suka     0.390325  0.249879  0.320844  0.000000  0.262131
sukanya  0.000000  0.000000  0.000000  0.617893  0.000000
tapi     0.000000  0.000000  0.000000  0.000000  0.465281